body {
    margin: 0;
    font-family: 'Barlow Condensed', sans-serif;

    font-size: 15px;
    line-height: 1.6;
    color: #333;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}


/* Container */
.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}



/* Intro */
.intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100vh;

    background: url("/home/user/Desktop/Iteration 1-3/Visitka/images/background.jpg") center no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}

.intro__inner {
    width: 100%;
    max-width: 880px;
    margin: 0 auto;

    text-align: center;
}

.intro__title {
    color: #333;
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1;
}

.intro__title:after {
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    margin: 60px auto;

    background-color: #333;
}

.intro__suptitle {
    margin-bottom: 30px;

    font-family: 'Dancing Script', cursive;
    font-size: 20px;
    color: #333;
}

/* About */
.About {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100vh;

    background: url("/home/user/Desktop/Iteration 1-3/Visitka/images/background.jpg") center no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}

.about__inner {
    width: 100%;
    max-width: 880px;
    margin: 0 auto;

    text-align: center;
}

.about__title {
    color: #333;
    font-size: 100px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1;
}

.about__title:after {
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    margin: 60px auto;

    background-color: #333;
}

.about__suptitle {
   font-family: 'Dancing Script', cursive;
    font-size: 72px;
    color: #333;
    
}

/* Header */
.header {
    width: 100%;
    padding-top: 30px;

    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo {
    font-size: 30px;
    font-weight: 700;
    color: #333;
}
.image {
   width: 150px;
   height: 150px; 
   margin-left: -300px;
}

/* Nav */
.nav {
    font-size: 20px;
    text-transform: uppercase;
}

.nav__link {
    display: inline-block;
    vertical-align: top;
    margin: 0 15px;
    position: relative;

    color: #333;
    text-decoration: none;

    transition: color .1s linear;
}

.nav__link:after {
    content: "";
    display: block;
    width: 100%;
    height: 3px;

    background-color: #425df7;
    opacity: 0;

    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;

    transition: opacity .1s linear;
}

.nav__link:hover {
    color: #425df7;
}

.nav__link:hover:after,
.nav__link.active:after {
    opacity: 1;
}

.nav__link.active {
    color: #425df7;
}

.High{
    margin-top: -150px;
    font-family: 'Barlow Condensed', sans-serif;

    font-size: 50px;
    line-height: 1.6;
    color: #333;
}
Center{

    margin-top: 10;
    
    font-family: 'Barlow Condensed', sans-serif;

    font-size: 50px;
    line-height: 1.6;
    color: #333; 
}
.Bottom{
    
    font-family: 'Barlow Condensed', sans-serif;
    margin-left: 0px;
    font-size: 14px;
    line-height: 1.6;
    color: #333; 
    text-align: left;

}
.map{
text-align: right;



}
.cont{
display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  height: 250px;
 margin-top: 100px;
}
/* Button */
.btn {
    display: inline-block;
    vertical-align: top;
    padding: 8px 30px;

    border: 3px solid #fff;

    font-size: 14px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;

    transition: background .1s linear, color .1s linear;
}

.btn:hover {
    background-color: #fff;
    color: #333;
}



/* Slider */
.slider {
    width: 100%;

    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;
}

.slider__inner {
    display: flex;
    justify-content: space-between;
}

.slider__item {
    width: 23%;
    padding: 20px 0;
    position: relative;

    border-top: 3px solid #fff;
    opacity: .7;

    font-size: 18px;
    color: #fff;
    text-transform: uppercase;
}

.slider__item.active {
    opacity: 1;
}

.slider__item.active:before {
    content: "";
    display: block;
    width: 70px;
    height: 3px;

    background-color: #f38181;

    position: absolute;
    top: -3px;
    left: 0;
    z-index: 1;
}

.slider__num {
    font-size: 24px;
    font-weight: 700;
}

.main{
    display: flex;

    width: 100%;
    height: 100vh;
align-content: center;
    background: url("/home/user/Desktop/Visitka/images/background.jpg") center no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    
    
}
.cont{
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    transition: margin-right 2s;
    
}
.block{
    display: flex;
    flex-direction: row;
    gap: 20px;
    width: 100vw;
    height: 100vh;
}

.div1{
    
  


background-color: wheat;

}
.div2{



background-color: wheat; 
}
   

.Text{
   
text-align: left;
    width: 600px;
    font-family: 'Barlow Condensed', sans-serif;
margin-left: 400px;

color: #333; 
}
.inline{
    display: flex;
    height: 400px;
    margin-right: 100px;
  margin-top: 100px;
  margin-bottom: 100px;
 ;
}
/*Slaider Photo*/
.adaptivSlayder {
    
    position: relative;
    max-width: 300px;
    margin-left: 300px;
    box-shadow: 0 9px 18px -4px rgba(0, 0, 0, 0.69);
   }
  
 .adaptivSlayder input[name="numb"] {
  display: none;
  }
 .numb {
  position: absolute;
  left: 0;
  bottom: -35px;
  text-align: center;
  width: 100%;
  }
    
  .numb label {
  display: inline-block;
  width: 7px;
  height: 7px;
  cursor: pointer;
  margin: 0 2px;
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, .7);
  border-radius: 55%;
  border: 4px solid #2f363c;
  background-color: #738290;
  }
   
  #slaid1:checked~.numb label[for="slaid1"] {
  background-color: white;
  }
    
  #slaid2:checked~.numb label[for="slaid2"] {
  background-color: white;
  }
    
  #slaid3:checked~.numb label[for="slaid3"] {
  background-color: white;
  }
  
  .adaptivSlayderlasekun {
  overflow: hidden;
  }
   
  .abusteku-deagulus {
  display: flex;
  width: 100%;
  transition: all 0.6s;
  }
   
  .abusteku-deagulus img {
  width: 100%;
  flex-shrink:0;
  }
    
  #slaid1:checked~adaptivSlayderlasekun abusteku-deagulus {
  transform: translate(0);
  }
     
  #slaid2:checked~.adaptivSlayderlasekun .abusteku-deagulus {
  transform: translateX(-100%);
  }
  
  #slaid3:checked~.adaptivSlayderlasekun .abusteku-deagulus {
  transform: translateX(-200%);
  }
  
  