
.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 100px;
  gap: 10px;
  max-width: 1080px;
  max-height: 920px;

  

}
.cont{
grid-column-start: 1;
grid-column-end: 3;
display: grid;
grid-template-columns: repeat(2,100px 1fr);
grid-template-rows: 100px ;
gap: 10px;


}
.gridfelx{
grid-row-start: 1;
grid-row-end: 3;
display: flex;
flex-direction: column;
gap: 40px;
height: 300px;
}
.item{
outline: 2px solid green; 

}
.item_1{

grid-column-start: 1;
grid-column-end: 3;
}
.item_2{
grid-column-start: 3;
grid-column-end: 4;
grid-row-start: 1;
grid-row-end: 3;
}
.item_3{
grid-column-start: 1;
grid-column-end: 1;
height: 100px;
}
.item_4{
height: 300px;
grid-column-start: 2;
grid-column-end: 5;
}
.item_5{
grid-column-start: 1;
grid-column-end: 1;
height: 100px;
}
.item_6{
grid-column-start: 1;
grid-column-end: 1;
height: 100px;
}

@media (max-width:1080px) {
.grid{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 100px;
  gap: 10px;
  min-width: 360px;
  min-height: 450px;
}
.cont{
  grid-column-start: 1;
  grid-column-end: 5;
  display: grid;
  grid-template-columns: repeat(2,100px 1fr);
  grid-template-rows: 100px ;
  gap: 10px; 
}
.gridfelx{
  grid-row-start: 1;
  grid-row-end: 1;
  grid-column-start: 1;
  grid-column-end: 5;
  display: flex;
  justify-content: center;
  
  flex-direction: row;
  gap: 40px;
  height: 300px;
}
.item_1{
height: 100px;
  grid-column-start: 1;
  grid-column-end: 5;
  }
.item_2{
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 1;
}
.item_3{
  min-width: 100px;
  flex-grow: 1;
  height: 100px;
  
}
.item_4{
  height: 100px;
 grid-column-start: 1;
 grid-column-end: 5;
}
.item_5{
  min-width: 100px;
  flex-grow: 1;
  height: 100px;
  
}
.item_6{
  min-width: 100px;
  flex-grow: 1;
  height: 100px;
  
}
}
